<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  
  <title>Conectados Com a Graça</title>
  
</head>
<body>
  <header>
    <section>
      <div class="menu">
        <a href="/home">Home</a>
        <a href="/membros">Membros</a>
        <a href="/create">Novo Membro</a>
      </div>
    </section>
  </header>
  {% block content%}{% endblock %}

  <script src="scripts.js"></script>
</body>
</html>