{% extends "layout.njk" %}
{% block content %}

  <form class="card" method="POST" action="/membros">
    <section class='avatar' style="background:url({{ membro.link_foto }}}) no-repeat center center / cover"></section>

      <section class="detalhes">
        <h2 id='title-card'> Dados Pessoais</h2>
        
        <div class="item">
          <div>Nome</div>
          <div>{{ membro.nome }}</div>
        </div>

        <div class="item">
          <div>Idade</div>
          <div>{{ membro.idade }} anos</div>
        </div>

        <div class="item">
          <div>Sexo</div>
          <div>{{ "Masculino" if membro.genero == "M" else "Feminino"}}</div>
        </div>

        <div class="item">
          <div>Desde</div>
          <div>{{membro.desde}}</div>
        </div>

        <a id='botao-editar' href="{{membro.id}}/edit">Editar</a>
        <input type="hidden" name="id" value={{membro.id}}>
        

      </section>
    
  </form>
    

{% endblock content %}